<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统登陆</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="layuiadmin/style/login.css" media="all">
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>系统登陆</h2>
            <p>伟大的神作,请尽情朝拜吧</p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"></label>
                <input type="text" name="username" id="acc"
                       placeholder="用户名"
                       class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
                <input type="password" name="password" id="pwd"
                       placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"></label>
                        <input type="text" name="vercode" id="code"
                               placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img class="layadmin-user-login-codeimg"
                                 id="vercode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" type="button" id="login_but">登 入</button>
            </div>
            <div class="layui-trans layui-form-item layadmin-user-login-other">
                <!--     <label>社交账号登入</label>
                     <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
                     <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
                     <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>
     -->
                <!--                <a href="reg.html" class="layadmin-user-jump-change layadmin-link">注册帐号</a>-->
            </div>
        </div>
    </div>

</div>

<script src="layuiadmin/layui/layui.all.js"></script>
<script src="js/libs.js"></script>
<script>
    let image_code_url = "/system/v2/image/code";
    let login_url = "/system/v2/login";

    function updateVer() {
        $("#vercode").attr("src", image_code_url + "?t=" + new Date().getTime())
    }

    $("#vercode").click(function () {
        updateVer();
    });
    updateVer();
    $("#login_but").click(function () {
        let code = $("#code").val().trim();
        let acc = $("#acc").val().trim();
        let pwd = $("#pwd").val().trim();
        if (code == null || acc == null || pwd == null) {
            gzb.toastFail("输入项不允许为空");
            return;
        }
        gzb.post(login_url, "sysUsersAcc=" + acc + "&sysUsersPwd=" + pwd + "&code=" + code, function (res) {
            console.log(gzb.jsonVerify(res, false), res)
            if (gzb.jsonVerify(res, false)) {
                location.href = "index.html"
                return;
            }
            updateVer();
        });
    });
</script>
</body>
</html>